<div class="container my-3 bg-light">
    <p class="display-3 text-center mb-4">Users</p>
    <div class="table-responsive">
      <table class="table table-hover p-3 my-2">
        <thead class="table-primary">
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allUsers" appTooltip [tooltipData]="{type : 'address', address: user.address}">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.phone }}</td>
            <td><a class="btn btn-info" [routerLink]="['/user', user.id]">Details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  